<%- include('./theme/headerwithout'); -%>

<section id="careerChoices">
    <div class="careerLeft">
        <h1 class="whenPhone">Share your <br>
            "precious" <br>
            works</h1>
        <button class="getStarted" onclick="window.location.href='/signup '" style="height: 50px; flex-shrink: 0; margin-top: -20px;">Get Started &#9658;</button>
    </div>
    <div class="careerRight">
        <h1 class="whenLaptop">Share your <br>
            "precious" <br>
            works</h1>

    </div>
</section>


<section id="careerChoices">
    <div class="careerRight" style="background-color: #20335E;">
        <h1 class="whenLaptop">All A.I. <br>
            TOOLS<br>
            <span style="font-size: 40px;">At a place</span></h1>

    </div>
    <div class="careerLeft" style="background-color:white;">
        <h1 class="whenPhone" style="color: #20335E;">All A.I.<br>
            TOOLS<br>
            <span style="font-size: 40px;">At a place</span></h1>
        <button class="getStartedM" onclick="window.location.href='/login'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">&#9668; Get Started</button>
    </div>
</section>




<section id="learnersFeed">
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>Freeversity helped me to choose the right career Path. Proud to choose Freeversity</p>
        <p style="margin-left: 40%;">&mdash;Md Nehal Akhlaque</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>The Documentation and Resources part of Freeversity is awesome. Found the best platform to Learn.</p>
        <p style="margin-left: 50%;">&mdash;Insha Khan</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>I found a place where I can find All A.I. tools at a place which makes my workload lighter.</p>
        <p style="margin-left: 50%;">&mdash;Nishat Parveen</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>Made easy to learn. The best part is: It's totally Free and freedom to Education is everyone's right.</p>
        <p style="margin-left: 50%;">&mdash;Asifa Khan</p>
    </div>
</section>



<section id="careerChoices">
    <div class="careerLeft">
        <h1 class="whenPhone">Choose right><br>
            "LEARNING PATH" <br>
            <span style="font-size: 40px;">with Freeversity</span></h1>
        <button class="getStarted" onclick="window.location.href='/signup'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">Get Started &#9658;</button>
    </div>
    <div class="careerRight">
        <h1 class="whenLaptop">Choose right<br>
            "LEARNING PATH" <br>
            <span style="font-size: 40px;">with Freeversity</span></h1>

    </div>
</section>




<section id="careerChoices">
    <div class="careerRight" style="background-color: #20335E;">
        <h1 class="whenLaptop">Try <br>
            GEMINI<br>
            <span style="font-size: 40px;">A Google's model</span></h1>

    </div>
    <div class="careerLeft" style="background-color:white;">
        <h1 class="whenPhone" style="color: #20335E;">Try <br>
            GEMINI<br>
            <span style="font-size: 40px;">A Google's model</span></h1>
        <button class="getStartedM" onclick="window.location.href='/login'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">&#9668; Get Started</button>
    </div>
</section>


<section id="supporters">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/Google.png" height="80px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/cloud.png" height="80px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/Gemini.png" height="80px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/nodejs.png" height="50px" alt="">
</section>

<%- include('./theme/footer'); -%>