<%- include('./theme/header'); -%>


    <div class="content">

      <div class="tagline">
          <h1>Freeversity</h1>
          <h2>Freedom to Learn</h2>
          <h3> Ensuring Inclusive and Equitable Quality Education ... </h3>
      </div>

  </div>


<section class="un-goals" style="position: relative;"> 
    <div id="text-learning">
        <h1>Learning Starts </h1>
        <h2>Here ...</h2>
    <form class="formgemini">
        <input id="gemini" type="search" name="something" id="" placeholder="Have something in mind?" style="font-size:20px;padding-left: 20px;color: #21325E; background-color:white; border: 5px solid #697dae; border-radius: 3px;" autocomplete="off">
    </form>
    </div>
    <div id="geminiDataContainer" style="padding: 0 30px;text-align: justify; position: relative;"><%= geminiData %></div>
    <i class="fa-solid fa-copy" style="color: white;" id="copyButton"></i>
</section>


<section id="careerChoices">
    <div class="careerLeft">
        <h1 class="whenPhone">Share your <br>
            "precious" <br>
            works</h1>
        <button class="getStarted" onclick="window.location.href='/resources'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">Resources &#9658;</button>
    </div>
    <div class="careerRight">
        <h1 class="whenLaptop">Share your <br>
            "precious" <br>
            works</h1>
        <button class="getStarted" onclick="window.location.href='/resources'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">Resources &#9658;</button>
    </div>
</section>


<section id="careerChoices">
    <div class="careerRight" style="background-color: #20335E;">
        <h1 class="whenLaptop">All A.I. <br>
            TOOLS<br>
            <span style="font-size: 40px;">At a place</span></h1>

    </div>
    <div class="careerLeft" style="background-color:white;">
        <h1 class="whenPhone" style="color: #20335E;">All A.I.<br>
            TOOLS<br>
            <span style="font-size: 40px;">At a place</span></h1>
        <button class="getStartedM" onclick="window.location.href='/aitool'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">&#9668; AI Tools</button>
    </div>
</section>




<section id="learnersFeed">
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>Freeversity helped me to choose the right career Path. Proud to choose Freeversity</p>
        <p style="margin-left: 40%;">&mdash;Md Nehal Akhlaque</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>The Documentation and Resources part of Freeversity is awesome. Found the best platform to Learn.</p>
        <p style="margin-left: 50%;">&mdash;Insha Khan</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>I found a place where I can find All A.I. tools at a place which makes my workload lighter.</p>
        <p style="margin-left: 50%;">&mdash;Nishat Parveen</p>
    </div>
    <div class="learnersFeedCard">
        <i class="fa-solid fa-message"></i><br><br>
        <p>Made easy to learn. The best part is: It's totally Free and freedom to Education is everyone's right.</p>
        <p style="margin-left: 50%;">&mdash;Asifa Khan</p>
    </div>
</section>



<section id="careerChoices">
    <div class="careerLeft">
        <h1 class="whenPhone">Choose right<br>
            "LEARNING PATH" <br>
            <span style="font-size: 40px;">with Freeversity</span></h1>
        <button class="getStarted" onclick="window.location.href='/learningpath'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">Learning Path &#9658;</button>
    </div>
    <div class="careerRight">
        <h1 class="whenLaptop">Choose right<br>
            "LEARNING PATH" <br>
            <span style="font-size: 40px;">with Freeversity</span></h1>

    </div>
</section>




<section id="careerChoices">
    <div class="careerRight" style="background-color: #20335E;">
        <h1 class="whenLaptop">Try <br>
            GEMINI<br>
            <span style="font-size: 40px;">A Google's model</span></h1>

    </div>
    <div class="careerLeft" style="background-color:white;">
        <h1 class="whenPhone" style="color: #20335E;">Try <br>
            GEMINI<br>
            <span style="font-size: 40px;">A Google's model</span></h1>
        <button class="getStartedM" onclick="window.location.href='/gemini'" style="height: 50px; flex-shrink: 0; margin-top: -20px;">&#9668; Gemini</button>
    </div>
</section>


<section id="careerChoices">
    <div class="careerLeft">
        <h1 class="whenPhone">Share your<br>
            "MINI PROJECTS" <br>
            <span style="font-size: 40px;">here</span></h1>
        <button class="getStarted" onclick="window.location.href='/miniprojects'" style="height: 50px; flex-shrink: 0; margin-top: -20px; background-color: #2f5999; border-color: #2f5999">Mini Projects &#9658;</button>
    </div>
    <div class="careerRight" style="background-color: #2f5999;">
        <h1 class="whenLaptop">Share your<br>
            "MINI PROJECTS" <br>
            here</h1>
    </div>
</section>



<div class="testimonial-section">
    <h1 style="position: absolute; top: 0; left: 50%; transform: translateX(-50%);font-size: 60px; color: #21325E;">Our Services</h1>
    <div class="cardServices">
        <h1>All AI tools at <br> one place</h1>
        <p>Discover a centralized hub for diverse AI tools, ideal for students, researchers, developers, and AI enthusiasts. This curated selection spans various domains within artificial intelligence, simplifying exploration and access.</p>
        <button class="try-now" onclick="window.location.href='/aitool'">Try Now</button>
    </div>
    <div class="cardServices">
        <h1>Documentation & Resources</h1>
        <p>Unlock a tech-driven repository! Follow the link to access comprehensive resources, documentation, and structured learning paths, enhancing your educational journey with the power of technology and knowledge integration</p>
        <button class="try-now" onclick="window.location.href='/resources'">Try Now</button>
    </div>
    <div class="cardServices">
        <h1>Personalized <br> Learning Path</h1>
        <p>Explore a tailored learning experience with our "Personalized Learning Path" powered by machine learning. Predictive and efficient, this innovative feature guides you through a unique educational adventure, ensuring a customized learning journey.</p>
        <button class="try-now" onclick="window.location.href='/learningpath'">Try Now</button>
    </div>
    <div class="cardServices">
        <h1>Gemini</h1><br>
        <p>Unlock the power of tomorrow with Gemini AI Elevate your business with Gemini AI - where innovation and intelligence converge to drive unparalleled growth and success. Experience the transformative power of advanced technology today</p>
        <button class="try-now" onclick="window.location.href='/gemini'">Try Now</button>
    </div>
</div>

<div class="feedback" style="display:flex; justify-content: center; align-items: center;">
    <button onclick="window.location.href='/feedback'" style="cursor:pointer; background-color: #20335E;color: white; border-radius: 5px; font-size: 18px; border: none;">Feedback</button>
</div>

<section id="supporters">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/Google.png" height="80px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/nodejs.png" height="50px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/cloud.png" height="80px" alt="">
    <img style="margin-top: 20px; margin-bottom: 20px;" src="/images/Gemini.png" height="80px" alt="">
    <!-- -->
</section>

    
<%- include('./theme/footer'); -%>