<%- include('../theme/header2') -%>

<div style="position: absolute;top:50%; left: 50%; transform: translate(-50%,-50%); background-color: white;padding: 50px 100px; height: 200px;width: 300px; box-sizing: content-box;">
<div style="position: relative;"> 
<h2>Reset Password for <span style="color: #21325E"><%= email %></span>
</h2>
<form action="" method="post">
    <input style="height: 35px; width: 300px;border: 2px solid #697CAF; padding-left: 20px;" type="password" name="password" id="password" placeholder="New Password" onkeyup="passwordValidateLength()" />
    <br>
    <input style="height: 35px; width: 300px;border: 2px solid #697CAF; padding-left: 20px;margin-top: 20px;" type="password" name="password2" id="password2" placeholder="Confirm New Password" onkeyup="passwordValidateMatch()"/> <span id="match" style="position: absolute; top: 115px; right: -15%;"><%= matchPassword %></span>
    <br>
    <input style="height: 35px; width: 300px;background-color:#697CAF; color: white;margin-top: 20px; cursor: pointer; border: 1px solid #125c18;border-radius: 20px;" type="submit" value="Reset" />
</form>
</div>
</div>

<script>
    function passwordValidateLength() {
    const Password = document.getElementById("password").value;
    const matchElement = document.getElementById("match");

    // Check for password length
    if (Password.length < 4) {
        matchElement.innerHTML = "Low";
        matchElement.style.color = "red";
    } else if (Password.length >= 4 && Password.length < 8) {
        matchElement.innerHTML = "Medium";
        matchElement.style.color = "orange";
    } else {
        matchElement.innerHTML = "Strong";
        matchElement.style.color = "Green";
    }
}

function passwordValidateMatch() {
    const Password = document.getElementById("password").value;
    const Password2 = document.getElementById("password2").value;
    const matchElement = document.getElementById("match");

    // Check for password match when Password2 length matches Password length
    if (Password2.length === Password.length) {
        if (Password === Password2) {
            matchElement.innerHTML = "Password Match";
            matchElement.style.color = "green";
        } else {
            matchElement.innerHTML = "Passwords do not match";
            matchElement.style.color = "red";
        }
    }
}
</script>

