<head>
    <style>
          .learningPath{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 86.3%;
    width: 100%;
    flex-wrap: wrap;
        position: relative;
        }
  

        .path{
            background-color: #20335E;
            color: white;
            height: 100px;
            width: 400px;
            text-align: justify;
            padding: 0 20px;
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            transition: 0.3s ease;
            cursor: pointer;
        }
        .path:hover{
            background-color: #697CAF;
        }

        @media screen and (max-width: 600px){
            .path{
                width: 350px;
            }
        } 

    </style>
</head>
<%- include('../theme/header'); -%>

<div class="learningPath">
    <div style="width: 100%; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
        <div onclick="window.location.href='/quizLanguage'" class="path"><h3>Confused about choosing Language? Try this AI recommendation System.</h3></div>
        <div onclick="window.location.href='/quizCareer'" class="path"><h3>Struggling to make a career choice? Try this AI based Career Roadmap Guide</h3></div>
        <div onclick="window.location.href='#'" class="path"><h3>Personalized learning path map</h3></div>
    </div>
    <!-- <div class="two"><div class="triangleRight"></div><div class="contentRight"><h3>Confused about choosing Language?</h3></div></div> -->
</div>
<div class="home">
    <i id="i" class="fa-solid fa-arrow-left" style="padding: 10px;" onclick="goBack()"></i>
</div>
<script>
    function goBack() {
        window.history.back();
    }
</script>
